@import "./reset.scss";
@import "./global.scss";
@import "./variables.scss";
@import "./utils.scss";
@import "./mixins.scss";

body {
  margin: 0;
  background-color: $light-primary-bg;
  color: $light-text-color;
}

.dark body {
  background-color: $dark-primary-bg;
  color: $dark-text-color;
}
